$background: #303030;
$background-dark: #222222;
$background-light: #3e3e3e;

$background-linear-dark: #222222;
$background-linear-light: #3e3e3e;


$primary: #e80b5b;
$primary-dark:#a20840;
$primary-light:#ff0e76;

$primary-linear-dark: #d10a52;
$primary-linear-light: #f80c61;
